* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/*estilização do nome da empresa*/
.welcome span {
  font-family: "chewy", sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
/*estilização do nome da empresa*/

/* Top nav */
.topnav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5vw;
  background-color: #f57c00;
}

.topnav-container a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem; /* Ajuste para garantir que não cresça demais */
  font-weight: 100;
}

.topnav-container ul li a:hover {
  font-weight: 700;
}

.topnav-container ul {
  list-style-type: none;
}

.topnav-container li {
  display: inline;
  margin-right: 2vw;
}

/* Main nav */
.mainav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  width: 100%;
  background-color: #f5f5f5;
  padding: 6vh 0; /* Ajuste de padding */
}

.logo {
  margin-right: 18vw;
}

.logo img {
  width: 7rem; /* Limitar a largura da logo */
  max-width: 100%; /* Garantir que a logo nunca ultrapasse o limite */
  height: auto;
  margin-left: 0.8vw;
}

.mainav-container ul {
  display: flex;
  list-style-type: none;
}

.mainav-container li {
  margin-right: 1vw;
  margin-left: 5vw;
}

.mainav-container li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 0.9rem; /* Ajustado para responsividade */
}

/* Social icons */
.social-icons {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.icon {
  fill: white;
}

.pedido-icon,
.sabores-icon,
.eventos-icon,
.promocoes-icon {
  fill: black;
  margin-bottom: 1.5vh;
  width: 2rem;
  height: 2rem;
}

/* Hero section */
.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-image: url("./assets/paodemel6.jpg");
  background-size: cover;
  background-position: center 60%;
  background-repeat: no-repeat;
}

.welcome {
  font-size: 2rem;
  letter-spacing: 0.1em;
  color: white;
  padding: 2rem;
  font-weight: 5;
}

.title {
  font-size: 3rem;
  letter-spacing: 0.1em;
  color: #fff3e0;
  padding: 2rem;
}

/* Section produtos começa */
#produtos {
  padding: 5vw 10vw;
  background-color: #f5f5f5;
}

#produtos h2 {
  font-size: calc(1rem + 1.5vw);
  letter-spacing: 0.1em;
  color: #5d4037;
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
  width: 75%;
  line-height: 1.2em;
  font-weight: 500;
}

#produtos h3 {
  text-align: center;
  color: #5d4037;
}

#produtos img {
  width: auto;
  height: 10vh;
  border-radius: 1rem;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 5vw;
  min-height: 70vh;
}

.button {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  min-height: 25rem;
  width: 50%;
  height: 90%;
  align-items: center;
  border: none;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 3px 18px rgba(245, 124, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 20px rgba(245, 124, 0, 0.8);
  color: #f57c00;
  -webkit-text-stroke: 1px #f57c00;
}

.paodemel,
.brownie,
.bolodepote {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px white;
  writing-mode: vertical-lr;
  font-size: 3rem;
  padding: 1rem;
}

.paodemel {
  background-image: url(./assets/paodemel5.webp);
  letter-spacing: 0.7rem;
}

.brownie {
  background-image: url(./assets/brownie1.jpg.webp);
  letter-spacing: 1.5rem;
}

.bolodepote {
  background-image: url(./assets/bolodepote1.jpe);
  letter-spacing: 0.3rem;
}
/* Section produtos termina */

/* Section sobre começa */
#sobre {
  display: flex;
  padding: 5rem;
  background-color: #f5f5f5;
}

#sobre h2 {
  font-size: 1.9rem;
  margin-bottom: 2em;
  letter-spacing: 0.1rem;
  color: #5d4037;
}

#sobre p {
  margin-bottom: 2em;
  width: 90%;
  font-size: 0.9rem;
  text-align: justify;
  color: #5d4037;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-container span {
  font-family: "chewy", sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(2, 300px); /* Duas colunas */
  grid-template-rows: repeat(2, 320px);
  padding: 2rem;
}

.box-container h3 {
  font-weight: 300;
  font-size: 1.2rem;
}

.box-container > div:first-child {
  border-top-left-radius: 10px;
}

.box-container > div:nth-last-child(3) {
  border-top-right-radius: 10px;
}

.box-container > div:nth-child(3) {
  border-bottom-left-radius: 10px;
}

.box-container > div:last-child {
  border-bottom-right-radius: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f57b00;
  color: #ffecb3;
  gap: 2vw;
}

.diferente {
  background-color: #ffecb3;
  color: #f57b00;
}

.icon-color {
  fill: #ffecb3;
}

.icon-color-diferente {
  fill: #f57b00;
}
/* Section sobre termina */

/* Section contato começa */
#contato {
  background-color: #f5f5f5;
  padding-top: 5rem;
}

.contato-container {
  background-image: url(./assets/gestao-redes-sociais-preco.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100vw;
}

#contato h1 {
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 3.5em;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.682);
  color: #fff3e0;
}

#contato h2 {
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
  font-weight: 100;
  font-size: 1.5em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.669);
  color: #fff3e0;
}

.overlay {
  padding: 4rem;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.icon-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.icon-contato {
  fill: #fff3e0;
  width: 5em;
  height: 5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.669);
}
/* Section contato termina */

/*Footer começa*/
footer {
  background-color: #f57c00;
  margin-top: 5rem;
  height: 55vh;
}

footer ul {
  color: white;
}

.footer-container {
  display: flex;
  gap: 10rem;
  padding: 5rem;
  justify-content: flex-start;
}

.logo-footer img {
  width: 10rem; /* Limitar a largura da logo */
  max-width: 100%; /* Garantir que a logo nunca ultrapasse o limite */
  height: auto;
  border-bottom: 1px solid #ffffff86;
  padding-bottom: 1.5em;
}

.morada h5 {
  color: white;
  font-weight: 100;
}

.email {
  margin-bottom: 1.5rem;
}

/*Links*/
.links-container {
}

.links-pedido h3 {
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.links-pedido {
  font-weight: 100;
}

.links-pedido,
.links-politica,
.links-sugestoes {
  margin-bottom: 1.5rem;
}

/*Atendimento*/
.atendimento-container {
}

.atendimento-container h3,
p {
  color: white;
}

.atendimento-container h3 {
  margin-bottom: 1.5rem;
}

.atendimento-container p {
  font-weight: 100;
}

.atendimento-container .horarios {
  margin-bottom: 1.5rem;
  font-weight: bold;
}
/*Footer termina*/

/*Direitos começa*/
.direitos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  height: 10vh;
  background-color: #ffecb3;
}

.direitos h5 {
  font-weight: 100;
  font-size: 1em;
  color: #5d4037;

}
/*Direitos termina*/

/*divisão começa*/
.divisão {
  border: none;
  height: 2px;
  background: linear-gradient(to right, transparent, #a1a1a1cb, transparent);
}
/*divisão termina*/
